<div class="container">
  <div class="menu-triger" (click)="opened=!opened"></div>
  <mat-sidenav-container class="chat">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" [style.background]="'#fff'" >
      <app-chat-menu *ngIf="opened" [online]="usersOnline" [offline]="usersOffline"></app-chat-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-chat-container (send)="sendData($event)" [user]="user" [msgs]="msgs">
      </app-chat-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
