<div class="container">

  <div #chat class="chat-container">
    <div class="message" *ngFor="let msg of msgs" [ngClass]="{'personal': msg.userId === user.id}">
      <div class="card">
        <span class="username">{{msg.user.userName}}</span>
        <span class="msg">{{msg.text}}</span>
        <span class="date">{{msg.date |  date : 'M/d/yy, h:mm a'}}</span>
      </div>
    </div>

  </div>

  <div class="action">
    <textarea class="text" [(ngModel)]="message"></textarea>
    <button class="send" (click)="sendMessage()">Send</button>
  </div>
</div>