.container {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
display: flex;
flex-direction: column;
  .chat-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-y: scroll;
    margin: 0.1rem;
    padding: 0.4rem;
    .message {
      display: flex;
      flex-direction: row;
      .card {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(41, 30, 104);
        border-radius: 0.4rem;
        margin: 0.3rem;
        padding: 0.3rem;
        background: rgb(255, 255, 255);
        color: black;
        text-overflow: hidden;
        word-wrap: break-word;
        max-width: 60%;
        .username {
          font-weight: bold;
          font-size: 1rem;
          color: rgb(41, 30, 104);
        }
        .date {
          font-size: 0.8rem;
          color: grey;
        }
      }
      &.personal {
        flex-direction: row-reverse;
        .card {
          display: flex;
          flex-direction: column;
          border: 1px solid rgb(41, 30, 104);
          border-radius: 0.4rem;
          margin: 0.3rem;
          padding: 0.3rem;
          background: rgb(193, 232, 241);
          color: black;
          max-width: 60%;
          word-wrap: break-word;
          text-overflow: hidden;
          .username {
            display: flex;
            flex-direction: row-reverse;
            font-weight: bold;
            font-size: 1rem;
            color: rgb(41, 30, 104);
          }
          .date {
            display: flex;
            flex-direction: row-reverse;
            font-size: 0.8rem;
            color: grey;
          }
        }
      }
    }
  }
}
.action {
   margin-top: auto;
  display: flex;
  .text{
   width: 70%;
     color: white;
     background: transparent
     
  }
  .send {
    width: 30%;
    border: 3px solid rgb(66, 216, 250);
    color: #000;
    background: rgb(66, 216, 250);
    text-align: center;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      border: 3px solid rgb(41, 30, 104);
      color: #fff;
      background: rgb(41, 30, 104);
    }
  }
}
