<div class="container">

  <div #chat class="chat-container">
    <div class="message" *ngFor="let msg of msgs" [ngClass]="{'right': msg.userId === user.id,'left': msg.userId !== user.id}">
      <div class="card">
        <div class="username">{{msg.user.userName}}</div>
        <div class="msg">{{msg.text}}</div>
        <div class="date">{{msg.date |  date : 'M/d/yy, h:mm a'}}</div>
      </div>
    </div>

  </div>

  <div class="action">
    <div class="chat-actions">
      <textarea class="text" (keyup.enter)="sendMessage()" [(ngModel)]="message"></textarea>
      <button class="send" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>